<div id="<%= dom_id(subscription, :status) %>" class="subs-status">
  <span class="<%= badge_class %>"><%= label %></span>

  <% if cancelable? %>
    <%= button_to "Cancel",
        helpers.subs_engine.subscription_path(subscription),
        method: :delete,
        class: "subs-status__cancel",
        data: { turbo_confirm: "Are you sure you want to cancel this subscription?" } %>
  <% end %>
</div>
